doctype hmtl
html
  head
    title Tweet Collector
    link(rel='stylesheet', href = '/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/teststyle.css')




  body
    div.nav
      li home
  
    div.jumbotron
      div.tweets
        h1= title
        p Controversial Tweets
        p IBM Watson's analysis
        
    div.blurb
      h1 More Info
      p This app analyzes a Twitter user's tweets. It has two functions:
      h4 Tweets of Interest
      p Using Sentiment Analysis, return all controversial tweets
      h4 Watson's Analysis
      p.
        Using a data analysis service originally employed
        by IBM Watson (yes, the one that won Jeopardy) analyze
        the tweeter's personality and return the results
    
  